<!DOCTYPE html>
<html lang="zh">

<head>
    <title>山楂片的代理配置</title>
</head>

<body>
    <p>{name}：</p>
    <p>您好！附件是代理上网配置文件，其中包含了以下部分：</p>
    <ol>
        <li><code>vmess.txt</code>：适用于能从剪贴板导入的v2ray客户端；</li>
        <li><code>vmess.png</code>：适用于能扫描二维码导入的v2ray客户端。</li>
    </ol>
    <p>推荐使用以下客户端，来连接本代理：</p>
    <ul>
        <li>Windows：V2RayN；</li>
        <li>MacOS：V2RayU；</li>
        <li>iOS：Shadowrocket（美区）；</li>
        <li>Android：V2RayNG。</li>
    </ul>
    <p>以前的配置（如果有）将在一星期后失效，请及时更换配置。</p>
    <p style="opacity: .5">本代理为公益性质，请合理使用。互联网非法外之地，请遵守服务器所在地“香港”的法律法规。如果遇到技术问题，可以直接回复本邮件或微信私聊获取帮助。</p>
</body>

</html>

